.main-div {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 90vw;
    margin: auto;
    align-items: center;
    h2 {
        margin-right: 168px;
    }
}

.list-item {
    justify-content: center;
    .timeline-left {
        flex: none;
        width: 30%;
        margin-right: 0px;
    }
    
    .timeline-right {
        flex: none;
        width: 40%;
        h3 {
            margin-top: 0px
        }
    }
};
